footer {
  background-color: #121212;
  border-bottom: 1px solid #2c2c2c;
  border-top: 1px solid #2c2c2c;
  height: 60px;
  color: white;

}




#copyright {
  float: right;
  width: 100%;
  color: white;
  font-size: 15px;
  margin-top: 18px;
  text-align: center;

}
